# --- Python básico ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log

# --- Entorno virtual ---
.venv/

# --- Configuración de editores ---
.vscode/
.idea/

# --- Copias locales ---
Backup/

# --- PyInstaller y artefactos de build ---
build/
dist/
*.spec

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# --- Archivos no utilizados actualmente ---
DejaVuSans.ttf
